body {
    margin: 0px;
    padding: 0px;
}

.header {
    padding: 0px 60px;
    border-bottom: 1px solid grey;
}

.header h1{
    font-size: 24px;
    font-weight: 400;
}

.main{
    padding: 0px 60px;
}

.todo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
}

.cut{
    text-decoration: line-through;
}

